<h1>
  Your account has been deactivated.
</h1>
<p>
  Dear <%= @user.first_name %> <%= @user.last_name %>,
  your account has been deactivated. You can reactivate it in 20 days or it will be deleted.
</p>