<p>
  Hello, <%= @user.first_name %>!
</p>

<p>
  You can reset your account password through the link below:
</p>

<p>
  <%= link_to 'Reset password',
              "http://#{@url}/api/v1/account/reset_password?reset_password_token=#{@user.reset_password_token}" %>
</p>

<p>
  If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.
</p>