<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>


<div style="height: 200px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px; text-align: center;">
  <h2>
    Welcome to Taxi Station API. <br/>
    To read documentation, visit
    <%= link_to 'this page', APP_SETTINGS['url'] + '/docs',
                style: 'color: blue; text-decoration:none; background: white' %>
  </h2>

</div>
</html>
